.jumbotron {
  background-color: #efeeb8;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: blue; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #efeeb8;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-enviar {
  width: 100px;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
