@yellow: #efeeb8;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
}
.btn{
    background-color: blue;
}
    
.footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px, 0px);

}
.card-hotel{
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    .margenes(10px, 0px);

}

.btn-enviar{
    width:100px;
    border-radius:0px;
}

.footer-address-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}
